<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../stylesheet/scroll_style.css">
    <link rel="stylesheet" href="../stylesheet/slider_style.css">
</head>
<body>
  <header id="home">
      <nav id="nav">
          <div class="nav-center">
              <div class="nav-header">
                  <!-- <img src="" alt=""> -->
                  <button class="nav-toggle">
                      <i class="fas fa-bars"></i>
                  </button>
              </div>
              <div class="links-container">
                  <ul class="links">
                      <li><a href="#home" class="scroll-link">Home</a></li>
                      <li><a href="#about" class="scroll-link">Recommender</a></li>
                      <li><a href="#algorithm" class="scroll-link">Algorithm</a></li>
                      <li><a href="#developer" class="scroll-link">Developers</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      <div class="banner">
          <h3>Binge watch!! Content free</h3>
        <div class="container">
            <div class="slider-container">
                <i class="fas fa-arrow-left prevBtn" id="prevBtn"></i>
                <i class="fas fa-arrow-right nextBtn" id="nextBtn"></i>
                <div class="slide">
                    <img src="../images/1.jpg" alt="" class='slide-img'>
                </div>
                <div class="slide">
                    <img src="../images/2.jpg" alt="" class='slide-img'>
                </div>
                <div class="slide">
                    <img src="../images/3.jpg" alt="" class='slide-img'>
                </div>
                <div class="slide">
                    <img src="../images/4.jpg" alt="" class='slide-img'>
                </div>
                <div class="slide">
                    <img src="../images/5.jpg" alt="" class='slide-img'>
                </div>
            </div>
        </div>
      </div>
  </header>
  <section id="about" class='section'>
    <div class="title">
        <h2>Get<span> Recommedations</span></h2>
    </div>
  </section>
  <!-- <section id="services" class='section'>
    <div class="title">
        <h2>Our <span>services</span></h2>
    </div>
  </section> -->
  <!-- <section id="tours" class='section'>
    <div class="title">
        <h2>Featured <span>tours</span></h2>
    </div>
  </section> -->
  <footer class="section">
      <p>
        Copyright &copy; Koshti <span id="date"></span>
      </p>
  </footer>
  <a href="#home" class="scroll-link top-link">
      <i class="fas fa-arrow-up"></i>
  </a>
  <script src="../app.js"></script>
</body>
</html>